@import 'tailwindcss';

@theme {
  --color-primary: var(--color-gray-900);
  --color-secondary: var(--color-gray-600);
}

:root {
  font-family:
    'InterVariable',
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Helvetica Neue',
    Arial,
    sans-serif;
  line-height: 1.625;
  font-weight: 400;

  color-scheme: light dark;
}

body {
  margin: 0;
  min-height: 100vh;
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
}
